<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.noordwind.apps.collectively">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name="com.noordwind.apps.collectively.TheApp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
                  android:theme="@style/Base.Theme.AppCompat"/>

        <activity android:name=".presentation.authentication.login.LoginActivity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentation.walkthrough.WalkthroughActivity">
        </activity>

        <activity android:name=".presentation.changepassword.ChangePasswordActivity"
                  android:parentActivityName=".presentation.main.MainActivity">
        </activity>

        <activity android:name=".presentation.authentication.signup.SignUpActivity"
            android:theme="@style/LoginTheme">
        </activity>

        <activity android:name=".presentation.main.MainActivity">
        </activity>

        <activity android:name=".presentation.addremark.AddRemarkActivity"
            android:parentActivityName=".presentation.main.MainActivity"
            >
        </activity>

        <activity android:name=".presentation.users.UsersActivity"
                  android:parentActivityName=".presentation.main.MainActivity"
            >
        </activity>

        <activity android:name=".presentation.remarkpreview.RemarkActivity"
            android:parentActivityName=".presentation.main.MainActivity"
            >
        </activity>

        <activity android:name=".presentation.statistics.StatisticsActivity"
            android:parentActivityName=".presentation.main.MainActivity"
            >
        </activity>

        <activity android:name=".presentation.profile.ProfileActivity"
            android:parentActivityName=".presentation.main.MainActivity"
            >
        </activity>

        <activity android:name=".presentation.settings.SettingsActivity"
            android:parentActivityName=".presentation.main.MainActivity"
            >
        </activity>

        <activity android:name=".presentation.remarkpreview.comments.RemarkCommentsActivity"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".presentation.main.MainActivity"
            >
        </activity>

        <activity android:name=".presentation.profile.remarks.user.UserRemarksActivity"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".presentation.profile.ProfileActivity"
            >
        </activity>

        <activity android:name=".presentation.profile.notifications.NotificationsSettingsActivity"
                  android:windowSoftInputMode="adjustResize"
                  android:parentActivityName=".presentation.profile.ProfileActivity"
            >
        </activity>

        <activity android:name=".presentation.remarkpreview.activity.RemarkStatesActivity"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".presentation.main.MainActivity"
            >
        </activity>

        <activity android:name=".presentation.authentication.retrievepassword.ResetPasswordActivity">
        </activity>

        <activity android:name=".presentation.authentication.setnickname.SetNickNameActivity">
        </activity>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"></meta-data>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDlkI-aFHz5u8Cii9u7cgkG3u8ajoD2Eew"/>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="aead572faf38edd05a1ce5a5b410b7b1d86685ce"
            />

        <receiver
            android:name=".presentation.receiver.LocationProviderChangedReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.location.PROVIDERS_CHANGED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

    </application>

</manifest>